.App {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: grey;
}

.main {
  flex: 1
}

* {
  color: Black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}